.inputBox {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 10%;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 80px;
    background-color: rgb(194, 190, 190);
    border-radius: 20px;
}
.answerBox {
    margin-left:40px;
    margin-right:40px;
    margin-top: 10%;
    margin-bottom: 100px;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 50px;
    background-color: rgb(163, 227, 227);
    border-radius: 20px;
}
.operator {
    margin: 5px;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 80px;
    background-color: rgb(250, 246, 246);
    border-radius: 20px;
}


