
<div class="header">  
</div>

<div>
    <ul class="topnav">
      <li><a  href="home.html"><img class="logo" src="../images/code.png"></a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Applications</a> 
        <div class="dropdown-content">
          <a href="../templates/counting.html">Counting</a>
          <a href="../templates/money.html">Free Money</a>
          <a href="../templates/buildings.html">World Tallest Buildings</a>
          <a href="../templates/birds.html">100 Birds of the World</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Games</a> 
        <div class="dropdown-content">
          <a href="../templates/tictactoe.html">Tic Tac Toe</a>
          <a href="#">Game 3</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Math</a> 
        <div class="dropdown-content">
          <a href="../templates/math.html">Grade 1</a>
          <a href="#">Grade 2</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Data Visualization</a> 
        <div class="dropdown-content">
          <a href="../templates/google_chart.html">Chart</a>
          <a href="../templates/shapes.html">Shapes</a>
          <a href="../templates/turtle.html">Turtle</a>
        </div>
      </li>
    </ul>
</div>


